langchain==0.1.16
langchain-community==0.0.33
langchain-core==0.1.44
langchain-text-splitters==0.0.1
langcodes==3.3.0
langserve==0.1.0
langsmith==0.1.47
sentence-transformers==2.6.1
transformers==4.41.0
bitsandbytes==0.43.1
torch==2.0.1
flask
python-dotenv==1.0.1
docx2txt==0.8
unstructured==0.14.3
unstructured-client==0.22.0
XlsxWriter==3.2.0
python-pptx==0.6.23