@import views.html.helper._
@import play.api.mvc.RequestHeader
@(files: Seq[String])(implicit request: RequestHeader, flash: Flash)

@main() {
@flash.get("success") match {
    case Some(message) => {
        <div class="row" style="padding-top: 20px;">
            <div class="offset-md-1 col-md-10 alert alert-success" role="alert">
                @message
            </div>
        </div>
    }
    case None => {}
}
@flash.get("error") match {
    case Some(message) => {
    <div class="row" style="padding-top: 20px;">
        <div class="offset-md-1 col-md-10 alert alert-danger" role="alert">
            @message
        </div>
    </div>
    }
    case None => {}
}

<div class="row" style="margin: 20px;">
    <div class="offset-md-1 col-md-10">
        <form action="@controllers.routes.HomeController.upload()" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFile" class="form-label">Upload a new document</label>
                <input type="hidden" name="csrfToken" value="@helper.CSRF.getToken.value" />
                <input class="form-control fileupload" type="file" id="formFile" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>

<div class="row" style="padding-top: 20px;">
    <div class="offset-md-1 col-md-10">
        <p style="font-size: 1.25rem;">
            The following documents are currently in the database. Click on one to download.
        </p>
        <table class="table" style="margin: 20px;">
            @for(fileGroup <- files.grouped(6)){
            <tr>
                @for(file <- fileGroup){
                    <td>
                        <a href="@controllers.routes.HomeController.delete(file)" style="text-decoration: none; color: #ff6e6e; padding-right: 10px;"><i class="fa-solid fa-trash" style="color: #d40005;"></i></a>
                        <a href="@controllers.routes.HomeController.download(file)" style="text-decoration: none; color: #364196;">@file</a>
                    </td>
                }
            </tr>
            }
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        setTimeout(function() {
            $(".alert").parent().remove();
        }, 5000);
    });
</script>
}