@import views.html.helper._
@import play.api.mvc.RequestHeader
@(config: play.api.Configuration)(implicit request: RequestHeader)

@main() {
<div id="mainContainer" class="container">
  <div class="card" id="queryCard">
    <div class="card-body" style="text-align: center; width: 800px;">
      <h3 class="card-title" style="padding-bottom: 50px;">
        What are you looking for?
      </h3>

      <div class="input-group mb-3">
          <input type="text" id="query" class="form-control" placeholder="Enter your query on your own documents..." name="query">
          <button class="btn btn-primary" type="submit" id="submitBtn">
            Go!
          </button>
      </div>
    </div>
  </div>
  <div id="loader" style="display: none; background: rgba(255, 255, 255, 0);">
    <div class="typing">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 offset-md-1">
    <div id="dialogue" style="display: none;"></div>
  </div>
</div>
<div class="offset-md-1 col-md-10 chatinput" id="chatinputcontainer">
  <div id="inputbar" class="input-group" style="display: none">
    <input type="text" id="query" class="form-control" placeholder="" name="query">
    <button class="btn btn-primary" type="submit" id="submitBtn2">
      Go!
    </button>
  </div>
</div>

<script>
    var chathistory = '';
    var documents = [];

    $.ajaxSetup({
        beforeSend: function(xhr) {
            xhr.setRequestHeader('Csrf-Token','@helper.CSRF.getToken.value');
        }
    });

    function addMessage(message, isHuman, documents) {
        var dialogue = $("#dialogue");
        var row = $('<div>').addClass('row');
        var col = $('<div>').addClass('col-md-10 offset-md-1');
        var container = $('<div>').addClass(isHuman ? 'label-human' : 'label-agent');

        var label = $('<label>').html(message);
        $(container).append(label);

        if (documents.length > 0) {
          var doclist = $('<div class="col-md-6">');
          var docstr = "The following documents were used creating this answer";
          var doccontent = $('<div class="col-md-6 doccontent">');
          for (let doc of documents) {
            console.log(doc);
            var doclink = $('<a class="doclink" href="#">').html(doc['s']);
            $(doclink).on('click', function() {
              $(doccontent).html(doc['c']);
            });
            doclist.append(doclink);
          }
          $(doclist).addClass('doclist');
          var docrow = $('<div class="row">');
          $(docrow).append(doclist);
          $(docrow).append(doccontent);

          $(container).append(docrow);
        }

        $(col).append(container);
        $(row).append(col);
        $(dialogue).append(row);
        dialogue.scrollTop(dialogue[0].scrollHeight);
    }

    function handleChat() {
        $('button[type="submit"]', this).prop('disabled', true);
        $("#mainContainer").hide();
        var query = $("#query").val();
        $("#query").val('');

        addMessage(query, true, []);
        $("#loader").show();
        $(dialogue).show();

        $.ajax({
            type: "POST",
            url: "@controllers.routes.HomeController.search",
            data: JSON.stringify({
              query: query,
              history: chathistory,
              docs: documents
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data){
                $("#loader").hide();
                $("#mainContainer").remove();
                documents = data['documents'];
                addMessage(data['reply'], false, documents);
                chathistory = data['history'];
                $("#inputbar").show();
                $("#query").val('');
            },
            error: function(errMsg) {
                $("#loader").hide();
                addMessage('Something went wrong, please try again...', false, []);
            },
            timeout: 120000
        });
    }

    $(document).ready(function() {
        $('#submitBtn').on('click', function() {
            handleChat();
        });

        $('#submitBtn2').on('click', function() {
            handleChat();
        });

        $('input[id="query"]').each(function() {
          $(this).on('keydown', function(event) {
            if (event.key === 'Enter') {
              event.preventDefault();
              handleChat();
            }
          });
        });
    });
</script>

}
