@import views.html.helper._
@import play.api.mvc.RequestHeader
@(config: play.api.Configuration)(implicit request: RequestHeader)

@main() {
<div id="mainContainer" class="container">
  <div class="card" id="queryCard">
    <div class="card-body" style="text-align: center; width: 800px;">
      <h3 class="card-title" style="padding-bottom: 50px;">
        What are you looking for?
      </h3>

      <div class="input-group mb-3">
          <input type="text" id="query" class="form-control" placeholder="Enter your query on your own documents..." name="query">
          <button class="btn btn-primary" type="submit" id="submitBtn">
            Go!
          </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 offset-md-1">
    <div id="dialogue" style="display: none;"></div>
  </div>
</div>
<div class="offset-md-1 col-md-10 chatinput" id="chatinputcontainer">
  <div id="inputbar" class="input-group" style="display: none">
    <input type="text" id="query" class="form-control" placeholder="" name="query">
    <button class="btn btn-primary" type="submit" id="submitBtn2">
      Go!
    </button>
  </div>
  <div id="loader" style="display: none; background: rgba(0, 0, 0, 0);">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><circle cx="4" cy="12" r="3" fill="#000000"><animate id="svgSpinners3DotsBounce0" attributeName="cy" begin="0;svgSpinners3DotsBounce1.end+0.25s" calcMode="spline" dur="0.6s" keySplines=".33,.66,.66,1;.33,0,.66,.33" values="12;6;12"/></circle><circle cx="12" cy="12" r="3" fill="#000000"><animate attributeName="cy" begin="svgSpinners3DotsBounce0.begin+0.1s" calcMode="spline" dur="0.6s" keySplines=".33,.66,.66,1;.33,0,.66,.33" values="12;6;12"/></circle><circle cx="20" cy="12" r="3" fill="#000000"><animate id="svgSpinners3DotsBounce1" attributeName="cy" begin="svgSpinners3DotsBounce0.begin+0.2s" calcMode="spline" dur="0.6s" keySplines=".33,.66,.66,1;.33,0,.66,.33" values="12;6;12"/></circle></svg>
  </div>
</div>

<script>
    function uuidv4() {
      return "10000000-1000-4000-8000-100000000000".replace(/[018]/g, c =>
        (+c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> +c / 4).toString(16)
      );
    }

    var chathistory = [];
    var documents = [];
    var sessionid = uuidv4();

    $.ajaxSetup({
        beforeSend: function(xhr) {
            xhr.setRequestHeader('Csrf-Token','@helper.CSRF.getToken.value');
        }
    });

    function escapeHtmlAttribute(value) {
        return value
            .replace(/&/g, '&amp;')
            .replace(/</g, '&lt;')
            .replace(/>/g, '&gt;')
            .replace(/"/g, '&quot;')
            .replace(/'/g, '&#39;');
    }

    function unicodeToChar(text) {
        return escapeHtmlAttribute(text.replace(/\\u[\dA-F]{4}/gi, function (match) {
            return String.fromCharCode(parseInt(match.replace(/\\u/g, ''), 16));
        })).replace(/\\n/g, "<br />");
    }

    function addMessage(message, isHuman, data) {
        var dialogue = $("#dialogue");
        var row = $('<div>').addClass('row');
        var col;
        if (isHuman) {
          col = $('<div>').addClass('col-md-8 offset-md-3');
        }
        else {
          col = $('<div>').addClass('col-md-8 offset-md-1');
        }
        var container = $('<div>').addClass(isHuman ? 'label-human' : 'label-agent');

        var converter = new showdown.Converter(),
            text      = message.replace("\n", "<br />"),
            html      = converter.makeHtml(text);
        var label = $('<label>').html(html);
        $(container).append(label);

        if (!isHuman) {
          // Create thumbs-up and thumbs-down icons
          var feedbackPos = $('<i class="fa-regular fa-thumbs-up" style="color: #438c4f; font-size: 1.5em; padding-right: 5px; cursor: pointer;"></i>');
          var feedbackNeg = $('<i class="fa-regular fa-thumbs-down" style="color: #a15047; font-size: 1.5em; cursor: pointer;"></i>');
          
          var doclist = $('<div class="documentdiv">');

          // Function to handle feedback submission and disable buttons
          function handleFeedback(feedbackType) {
            $.post({
              url: "@controllers.routes.HomeController.feedback()",
              data: JSON.stringify({ 
                query: data['question'],
                answer: message,
                document_id: JSON.stringify(data.documents.map(doc => doc.s)),
                rating: feedbackType === "positive" ? 1 : -1,
                timestamp: new Date().toISOString()}),
              contentType: "application/json; charset=utf-8",
              dataType: "json"
            })
            .done(function() {
              // Display thank-you message
              var message = $('<span style="margin-left: 10px; font-weight: bold; white-space: nowrap;">Thank you for your feedback!</span>');
              feedbackRow.append($("<div class='col-md-1 offset-11 d-flex justify-content-end'>").append(message));

              // Highlight the clicked button and disable both
              if (feedbackType === "positive") {
                // Disable both buttons highlighting the positive one
                feedbackPos.css("pointer-events", "none").css("opacity", "0.8");
                feedbackNeg.css("pointer-events", "none").css("opacity", "0.3");
              } else {
                // Disable both buttons highlighting the negative one
                feedbackPos.css("pointer-events", "none").css("opacity", "0.3");
                feedbackNeg.css("pointer-events", "none").css("opacity", "0.8");
              }
            })
            .fail(function() {
              alert("An error occurred. Please try again later.");
            });
          }

          // Add event listeners to the feedback icons
          feedbackPos.on('click', function() { handleFeedback("positive"); });
          feedbackNeg.on('click', function() { handleFeedback("negative"); });

          // Create a feedback row and append the buttons
          var feedbackRow = $("<div class='row'>")
            .append($("<div class='col-md-1 offset-11'>")
              .append(feedbackPos)
              .append(feedbackNeg)
            );

          // Append the feedback row to the container
          $(container).append(feedbackRow);
        }

        $(col).append(container);
        $(row).append(col);
        $(dialogue).append(row);
        dialogue.scrollTop(dialogue[0].scrollHeight);
    }

    function presentDocuments(documents) {
      // Initialize the container for document list
      var doclist = $('<div class="documentdiv">');

      for (let doc of documents) {
          var linktext = doc['s'];
          const parts = linktext.split(/[\\/]/);
          linktext = parts.pop();
          if ('provenance' in doc) {
              linktext += ' (provenance: ' + String(Math.round(doc['provenance'] * 100000) / 100000) + ')';
          }
          var content = unicodeToChar(doc['c']).substring(0, 100);
          if (doc['c'].length > 100) {
              content += ' ...';
          }

          var doccontentholder = $('<p class="doccontenttext text-muted mb-0" style="font-size: 0.875rem; font-weight: 400; line-height: 1.5; padding: 0px 10px 0px 10px;">').html(content);

          // Create the document link container
          var doclink = $('<div class="d-flex align-items-center gap-3 bg-light px-3 py-2 justify-content-between" style="min-height: 72px; border-radius:20px; margin: 4px !important; box-shadow: 0 1px 1px rgba(0,0,0,0.3);">').append(
              $('<div class="d-flex align-items-center gap-3">').append(
                  $('<div class="d-flex flex-column justify-content-center">').append(
                      $('<p class="text-dark mb-1" style="font-size: 1rem; font-weight: 500; line-height: 1.5;">').html(linktext)
                  ).append(doccontentholder)
              )
          ).append(
              $('<div class="flex-shrink-0">').html(
                  '<div data-arrow="right" class="text-dark d-flex align-items-center justify-content-center" style="width: 24px; height: 24px;">' +
                  '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256">' +
                      '<path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>' +
                  '</svg></div>' +
                  '<div data-arrow="left" class="text-dark d-flex align-items-center justify-content-center hidden" style="width: 24px; height: 24px;">' +
                  '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256">' +
                      '<path d="M74.34,133.66l80,80a8,8,0,0,0,11.32-11.32L91.31,128l74.35-74.34a8,8,0,0,0-11.32-11.32l-80,80A8,8,0,0,0,74.34,133.66Z"></path>' +
                  '</svg></div>'

              )
          );

          // Create and configure the clickable container
          var doccontainer = $('<p  data-content="' + unicodeToChar(doc['c']) + '" class="documentcontainerclass">').append(doclink).css('cursor', 'pointer');

          // Append the created doccontainer to the document list
          doclist.append(doccontainer);
      }

      // Create and append the message container
      var message = $('<div>')
          .append('<h5>Documents used in generating this answer</h5>')
          .append(doclist);

      var dialogue = $("#dialogue");
      var row = $('<div>').addClass('row');
      var col = $('<div>').addClass('col-md-8 offset-md-1');
      var container = $('<div>').addClass('label-agent').addClass('label-docuyments');
      $(container).append(message);
      $(col).append(container);
      $(row).append(col);
      $(dialogue).append(row);
      dialogue.scrollTop(dialogue[0].scrollHeight);
    }

    $(document).on('click', '.documentcontainerclass', function() {
        let newContent = $(this).data('content');
        // Check if newContent is an object, and convert it to a string if so
        if (typeof newContent === 'object') {
            newContent = JSON.stringify(newContent);
        }

        let leftArrowDiv = $(this).find('div[data-arrow="left"]');
        let rightArrowDiv = $(this).find('div[data-arrow="right"]');

        if (leftArrowDiv.is(':visible')) {
            var newNewContent = '';
            if (newContent && newContent.length > 0) {
              newNewContent = newContent.substring(0, 100);
            }
            if (newContent.length > 100) {
                newNewContent += ' ...';
            }

            $(leftArrowDiv).toggleClass('hidden');
            $(rightArrowDiv).toggleClass('hidden');
            $(this).find(">:first-child").toggleClass('documentshown');
            $(this).find('p.doccontenttext').html(newNewContent);
        } else if (rightArrowDiv.is(':visible')) {
            $(rightArrowDiv).toggleClass('hidden');
            $(leftArrowDiv).toggleClass('hidden');
            $(this).find(">:first-child").toggleClass('documentshown');
            $(this).find('p.doccontenttext').html(newContent);
        }
    });

    function handleChat() {
        $('button[type="submit"]', this).prop('disabled', true);
        $("#mainContainer").hide();
        var query = $("#query").val();
        $("#query").val('');
        $("#inputbar").hide();

        addMessage(query, true);
        $("#loader").show();
        $(dialogue).show();

        $.ajax({
            type: "POST",
            url: "@controllers.routes.HomeController.search()",
            data: JSON.stringify({
              query: query,
              history: chathistory,
              docs: documents
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data){
                $("#loader").hide();
                $("#mainContainer").remove();

                if (data['rewritten']) {
                  var msg = '<span style="color: #ccc; font-style: italic; font-weight: 300;">Your message has been rewritten to this:</span>\n\n' + data['question'];
                  addMessage(msg, true, data);
                }

                documents = data['documents'];
                addMessage(data['reply'], false, data);
                if (documents.length > 0 && data['fetched_new_documents']) {
                  presentDocuments(documents);
                }
                chathistory = data['history'];

                $("#inputbar").show();
                $("#query").val('');
            },
            error: function(errMsg) {
                $("#loader").hide();
                $("#inputbar").show();
                addMessage('Something went wrong, please try again...', false);
            },
            timeout: 300000
        });
    }

    $(document).ready(function() {
        $('#submitBtn').on('click', function() {
            handleChat();
        });

        $('#submitBtn2').on('click', function() {
            handleChat();
        });

        $('input[id="query"]').each(function() {
          $(this).on('keydown', function(event) {
            if (event.key === 'Enter') {
              event.preventDefault();
              handleChat();
            }
          });
        });
    });
</script>

}
